body {
  margin: 0;
  padding: 0;
  min-width: 960px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 3;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
  z-index: 3;

}

.promo-block .flag {
  top: 0;
  right: 0;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 253px;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ee3643;
  border-radius: 3px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.container {
  width: 960px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  width: 100%;

  background-color: #293449;

  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.header-top .logo {
  width: 220px;
  height: 47px;
  box-sizing: content-box;
  margin-bottom: -5px;

  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo img {
  display: block;
  margin: auto;
  padding-top: 13px;
  padding-bottom: 16px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-search {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  border: none;
}

.site-search label {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 270px;

  color: #ffffff;
  font-size: 17px;
  line-height: 18px;

  border: none;
  background-color: #293449;
}

.site-search input {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 49px;

  outline: none;
  border: none;
  background-color: transparent;
}

.icon-search {
  display: block;
  position: absolute;
  width: 45px;
  height: 42px;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;

  background-color: #ffffff;
  opacity: 0.5;
  background: url("../img/icon-search.svg") no-repeat 17px 12px;
  background-size: 17px 17px;
}

.site-search input:hover {
  background-color: #212a3a;
}

.site-search input:hover ~ .icon-search {
  z-index: 1;
  opacity: 1;
}

.site-search input:focus {
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
  border: none;
  style: none;
}

.site-search input:focus~.icon-search {
  z-index: 500;

  background-color: white;
  background-size: 17px 17px;
  background: url("../img/icon-search-focus.svg") no-repeat 17px 12px;
  opacity: 1;
}


.site-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.site-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.site-search input[type="search"]::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.site-search input[type="search"]::-moz-input-placeholder {
  color: #ffffff;
  opacity: 1;
}


.site-search input[type="search"]::placeholder {
  color: #ffffff;
}

.site-search input[type="search"]:focus::placeholder {
  color: #c5c5c5;
}

.user-options li {
  width: 150px;
}

.user-options a {
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 12px 20px;
  margin: 0;

  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  text-decoration: none;
}

.user-bookmarks a {
  position: relative;
  padding: 12px 0 12px 44px;
}

.user-bookmarks a::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;

  background-color: #ffffff;
  background: url("../img/icon-bookmark.svg") no-repeat 0 0;
  opacity: 0.3;
}

.user-bookmarks a:hover::before {
  opacity: 1;
}

.user-bookmarks a:active::before {
  opacity: 0.5;
}

.user-busket a {
  position: relative;
  padding: 12px 0 12px 49px;
}

.user-busket a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;

  background-color: #ffffff;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.user-busket a:hover::before {
  opacity: 1;
}

.user-busket a:active::before {
  opacity: 0.5;
}

.user-bookmarks:hover a,
.user-busket:hover a {
  background-color: #212a3a;
}


.user-bookmarks:active a,
.user-busket:active a {
  background-color: #161d29;
  opacity: 0.6;
}

.user-order {
  background-color: #63a63e;
}

.user-order:hover a {
  background-color: #5fbb2d;
}

.user-order:active a {
  background-color: #518534;
  opacity: 0.5;
}

.header-main {
  padding-top: 47px;
  padding-bottom: 60px;
  margin-bottom: 39px;

  background-color: #f3f7f8;
  background-image: url("../img/header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.header-middle h1 {
  width: 195px;
  margin: 0;
  margin-left: 53px;
  padding: 0;

  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
}

.header-contacts {
  display: block;
  box-sizing: border-box;
  width: 270px
}

.header-phone {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 270px;
  padding: 9px 49px 9px 71px;
  margin: 0;
  margin-bottom: 4px;

  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: none;

  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 12px;

  background-color: white;
  background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.header-adress {
  padding: 0 9px;
  margin: 0;

  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.header-authorize {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 280px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.header-authorize li {
  background-color: #ffffff;
  padding: 0;
}

.header-authorize a {
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 12px 24px;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.header-authorize .header-login {
  position: relative;
  padding-left: 47px;
}

.header-login::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;

  background: url("../img/icon-login.svg") no-repeat 0 0;
}

.header-authorize a:hover {
  color: #ee3643;
}

.header-login:hover::before {
  background: url("../img/icon-login-hover.svg") repeat 0 0;
}

.header-authorize a:active {
  color: #000000;
  opacity: 0.3;
}

.header-nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}


.header-nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 21px;

  list-style: none;
}

.header-nav li {
  margin: 0;
}

.header-nav a {
  display: block;
  box-sizing: border-box;
  padding: 20px 30px 23px 30px;
  text-decoration: none;

  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.header-nav a:hover {
  background-color: #293449;
}

.header-nav a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.promo-blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 53px;

  list-style: none;
}

.promo-blocks ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-block {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  height: 123px;
  margin: 20px;
  margin-left: 0;
  padding: 20px 22px;

  color: #ffffff;

  background-color: #e6e6e6;
}

.promo-block p {
  padding: 0;
  margin: 0;

  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.promo-block a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14px;
  margin-left: 3px;

  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo-block a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-block-building {
  position: relative;
  background-color: #f6b22d;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-block-tools {
  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo-block-appliances {
  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;

  margin-right: 0;
}

.promo-blocks-additional ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.promo-block-sale {
  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;

  margin: 0;
}

.promo-block-delivery {
  margin: 0;
  margin-top: 20px;

  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
  background-color: #ffc047;
}

.promo-block-slider-block {
  width: 620px;
  height: 266px;
  position: relative;

  background-color: #584e43;
}

.promo-block-slider-headings {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-block-slider-headings li {
  display: none;
  box-sizing: border-box;
  width: 620px;
  height: 266px;
  padding: 23px 0 12px 24px;
}


.promo-block-slider-headings h3 {
  padding: 0;
  margin: 0;

  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-block-slider-headings p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.promo-block-slider-headings a {
  margin-top: 124px;
}

.promo-block-button {
  width: 195px;
}

.slider-block-drills {

  background-image: url("../img/drill.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.slider-block-perforators {
  background-image: url("../img/perforator.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.slider-controls {
  position: absolute;
  width: 160px;
  height: 18px;
  left: 50%;
  bottom: 30px;
  z-index: 100;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background: #ffffff;
  border-radius: 50%;
}

#slider-drills:checked ~ .promo-block-slider-headings .slider-block-drills {
  display: block;
}

#slider-perforators:checked ~ .promo-block-slider-headings .slider-block-perforators {
  display: block;
}

#slider-drills:checked ~ .slider-controls .slider-controls-drills::before,
#slider-perforators:checked ~ .slider-controls .slider-controls-perforators::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 2px;
  top: 2px;
  z-index: 2;

  background-color: #ee3643;
  border-radius: 50%;
}

.slider-switchers {
  position: relative;
}

.slide-btn {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  font-size: 0;
  border: none;
}

.slide-radio:first-child .slide-btn::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;
  top: -152px;
  left: 25px;
  background: url("../img/icon-left.svg") no-repeat 0 0;
}


.slide-radio:last-child .slide-btn::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 40px;

  top: -152px;
  right: 20px;

  background: url("../img/icon-right.svg") no-repeat 0 0;
}


.top-items-header,
.top-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  margin-top: 0;
  padding: 26px 24px 26px 30px;

  background-color: #f9f5f0;
}

.top-items-header h2,
.top-brands-header h2 {
  margin: 0;

  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.items-list,
.top-brands-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.items-list a {
  text-decoration: none;
}

.item-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  box-sizing: border-box;
}

.item-box:last-child {
  margin-right: 0;
}

.item-box:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.item-title {
  padding: 0 25px;
  margin-top: 0px;
  margin-bottom: 10px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  min-height: 40px;
}

.item-old-price {

  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 18px;
  font-size: 17px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.item-old-price.hidden {
  padding: 18px;
}

.item-new-price {
  display: block;
  position: relative;
  width: 80px;
  margin: 7px auto;
  margin-bottom: 19px;
  padding: 10px 30px;

  color: white;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;

  background: #ee3643;
  border-radius: 3px;
}

.item-new-price::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  top: 0px;
  right: -20px;

  border: 19px solid white;
  border-left-color: #ee3643;
}


.item-photo-hover {
  display: none;
  position: absolute;
  width: 218px;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 42px 0;

  background-color: rgba(255, 255, 255, 1);
}

.item-photo-hover a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 10px 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  border-radius: 3px;
}

.tocart {
  position: relative;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;

  color: #ffffff;
}

.tocart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 14px;
  background-color: #ffffff;
  background: url("../img/icon-cart.svg") no-repeat 0 0;
  opacity: 0.3;
}

.tocart:hover,
.tocart:focus {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}

.tocart:hover::before {
  opacity: 1;
}

.tocart:active {
  background-color: #518534;
}

.item-photo-hover .bookmarks {
  display: block;
  border: 3px solid #63a63e;
  padding: 7px 0;

  color: #32425c;
}

.bookmarks:hover,
.bookmarks:focus {
  border: 3px solid #32425c;
}

.bookmarks:active {
  opacity: 0.3;
}

.item-box:hover .item-photo-hover,
.item-box:focus .item-photo-hover,
.item-box:focus-within .item-photo-hover {
  display: block;
}

.top-brand-item {
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.top-brand-item:nth-child(4n) {
  margin-right: 0;
}

.top-brand-item:hover {
  width: 220px;
  height: 145px;

  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.top-brand-item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.top-brand-item a {
  display: table-cell;
  height: 145px;
  width: 220px;
  text-align: center;
  vertical-align: middle;
}

.top-brand-item a:active {
  opacity: 0.3;
}

.service-section {
  margin-top: 65px;
  padding-top: 40px;

  background-color: #f4f7f9;
  background-image: url("../img/service-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.service-section h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.service-section p {
  margin: 0;

  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.services {
  display: flex;
  margin-top: 70px;
}

.service-tabs {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.service-tabs::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 268px;
  top: -40px;
  right: 0;

  background: url("../img/tab-label.png") no-repeat 0 0;
}

.service-tabs a {
  display: block;
  padding: 15px 0 15px 23px;

  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.service-tab {
  box-sizing: border-box;
  width: 240px;
  height: 62px;
  padding: 0;
  margin: 0;

  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
}

.service-tab:not(.service-tab-active):hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;

  color: #ffffff;
}

.service-tab-active {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
}

.service-tab-active a {
  color: #32425c;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
}

.service-content div {
  display: none;
  box-sizing: border-box;
  width: 620px;
  height: 283px;
}

.service-content .tab-active {
  display: block;
}

.service-content h3 {
  margin-top: 0;
  margin-bottom: 25px;
  max-width: 380px;
  max-height: 180px;

  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.service-content p {
  font-weight: 400;
  line-height: 24px;
}

.delivery-tab {
  background: url("../img/icon-delivery.png") no-repeat 100% 100%;
}

.guarantee-tab {
  background: url("../img/icon-guarantee.png") no-repeat 100% 100%;
}

.credit-tab {
  background: url("../img/icon-credit.png") no-repeat 100% 100%;
}

.credit-tab .button {
  display: block;
  width: 195px;
  margin-top: 24px;
}

.logistic {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 85px;

  color: #000000;
  text-align: left;
}

.logistic h2 {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.company {
  width: 520px;
}

.company p,
.map-contact p {
  margin-bottom: 0;
  padding-bottom: 10px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.map-contact img {
  margin-top: 20px;
}

.transcompanies {
  padding-top: 0;
  padding-left: 33px;
  margin: 0;
  margin-top: 5px;

  list-style: none;
  font-size: 17px;
  line-height: 38px;
  font-weight: 700;
}

.transcompanies li {
  position: relative;
}

.transcompanies li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: -35px;
  top: 17px;

  background-color: #ee3643;
}

.company-button {
  width: 220px;
  height: 38px;
  margin: 0;
  margin-top: 29px;
}

.feedback-button {
  width: 300px;
  height: 38px;
  margin: 0;
  margin-top: 34px;
}

.footer-nav {
  background-color: #32425c;
  height: 193px;
}

.footer-nav .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-column,
.footer-right-column {
  box-sizing: border-box;
  margin: 0px;
}

.footer-right-column {
  width: 600px;
}

.footer-left-column .logo {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 68px;
  padding-top: 7px;
  margin-bottom: 27px;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.footer-left-column .logo:hover {
  background-color: #ca2c37;
}

.footer-left-column .logo:active {
  background-color: #ba2732;
}

.footer-nav p {
  width: 325px;
  margin: 0;
  padding-left: 3px;

  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-right-column ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

.footer-right-column li {
  padding-left: 30px;
  padding-right: 30px;
}

.footer-right-column li:last-child {
  padding-right: 0;
}

.footer-right-column a {
  display: block;
  box-sizing: border-box;
  padding-top: 36px;
  padding-bottom: 0;

  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.navigation a {
  color: #f1f5f7;
}

.promo-links a {
  color: #ffd180;
}

.navigation a:hover,
.promo-links a:hover {
  text-decoration: underline;
}

.navigation a:active,
.promo-links a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-link {
  background-color: #293449;
}

.footer-link .container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 35px 6px 30px 12px;
}

.footer-link p {
  width: 230px;
  padding: 0;
  margin: 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}
.container .copyright {
  padding-top: 3px;
}

.footer-link .copyright {
  display: block;
  width: 330px;
}

.social-links {
  display: flex;
  width: 150px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.social-links li {
  margin: 0;
  padding: 0;
}

.social-links a {
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
  margin-right: 4px;

  border-radius: 50%;
  background-color: #212a3a;
}

.vk {
  background: url("../img/icon-vk.svg") no-repeat center;
}

.fb {
  background: url("../img/icon-fb.svg") no-repeat center;
}

.insta {
  background: url("../img/icon-insta.svg") no-repeat center;
}

.social-links a:hover {
  background-color: #ee3643;
}

.social-links a:active {
  background-color: #ee3643;
}

.footer-link a {
  color: #ffd180;
  text-decoration: none;
}

.footer-link a:hover {
  text-decoration: underline;
}

.footer-link a:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-contacts {
  width: 350px;
  display: flex;
  justify-content: flex-end;
}

.feedback-contacts:last-child p {
  padding-left: 50px;
}

/* стили магазина*/

.catalogue-header .header-main {
  margin-bottom: 20px;
}

.catalogue-header .header-contacts {
  margin-left: 20px;
}

.user-busket.active a {
  background-color: #ee3643;
}


.user-button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  background-color: #ffffff;
}

.user-button a {
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 12px 0 12px 47px;

  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.user-profile::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  top: 13px;
  left: 13px;

  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.user-profile:hover::before {
  background: url("../img/icon-user-hover.svg") no-repeat 0 0;
}

.user-profile:active {
  opacity: 0.3;
}
.user-profile:active::before {
  background: url("../img/icon-user.svg") no-repeat 0 0;
}

.user-button .user-logout {
  position: relative;
  width: 20px;
  height: 17px;
  padding: 0;
  margin: auto 10px auto 0;
}

.user-logout .logout-icon {
  position: absolute;
  width: 20px;
  height: 17px;
  left: 0;
  top: 0;

  background-size: 20px 17px;
  background: url("../img/icon-logout.svg") no-repeat;
}

.user-logout:hover .logout-icon {
  background: url("../img/icon-logout-hover.svg") no-repeat;
}

.user-logout:active .logout-icon {
  background: url("../img/icon-logout.svg") no-repeat;
}

.user-authorized ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-options-list li {
  position: relative;
  padding: 0 17px;
}

.user-options-list li:last-child::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  top: 10px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-options-list a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-options-list a:hover {
  color: #ee3643;
}

.user-options-list a:active {
  color: #32425c;
  opacity: 0.3;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-icon {
  display: block;
  position: absolute;
  width: 14px;
  height: 12px;
  top: 2px;
  left: -2px;

  background: url("../img/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs a {
  text-decoration: none;
  color: #000000;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -25px;
  width: 8px;
  height: 12px;

  background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs .home-icon {
  padding: 14px;
  padding-left: 0;
}

.catalogue-heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalogue-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters h3,
.sorter h3 {
  padding: 10px 0 10px 19px;
  margin: 0;
  margin-bottom: 10px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  padding: 0;

  margin-bottom: 16px;
  padding-bottom: 25px;
}

.filters .filter-price,
.filters .brands-filter {
  border-bottom: 1px solid #f7f3ec;
}

.filter-form fieldset:last-child {
  border-bottom: none;
}

.filters legend {
  margin-bottom: 13px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters li {
  margin-bottom: 22px;
  padding-left: 35px;
}

.filters li:last-child {
  margin-bottom: 0;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;

}

.filter-price input {
  width: 95px;
  padding: 10px 0 10px 0;
  text-align: center;

  background-color: #f7f3ec;

  border: none;
  border-radius: 3px;
}

.range-controls {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 9px;
  padding: 40px 20px;

  border: none;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  right: 40px;
}

.range-toggle:hover {
  background: #1c4f80;
}

.brands-filter li,
.power-type li {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

.filter-option label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox input + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -35px;
  top: -2px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;
}

.checkbox input:checked + label::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 23px;
  left: -35px;
  top: -2px;

  background-color: #ffffff;
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}


.checkbox input:checked + label::before {
  display: none;
}

.checkbox label:hover::before {
  border: 2px solid #b5b5b5;
}

.checkbox input:checked + label:hover::after {
  background: url("../img/checkbox-on-hover.svg") no-repeat 0 0;
}

.checkbox input:disabled + label::before,
.checkbox input:disabled + label::after,
.checkbox input:disabled + label {
  opacity: 0.3;
}


.radio input + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: -35px;
  top: -3px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.radio input:checked + label::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  left: -27px;
  top: 5px;

  border-radius: 50%;
  background-color: #c5c5c5;
}

.radio label:hover::before {
  border: 4px solid #b5b5b5;
}

.radio input:checked + label:hover::after {
  background-color: #b5b5b5;
}

.radio input:disabled + label::before,
.radio input:disabled + label::after,
.radio input:disabled + label {
  opacity: 0.3;
}

.filter-form button {
  padding: 9px 39px;
  margin-top: 39px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background-color: #ffffff;
}

.catalogue {
  width: 700px;
}

.sorter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 7px;

  background-color: #f7f3ec;
}

.sorter h3 {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding-right: 100px;
}

.sorter ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 12px;
}

.sorter-param {
  display: flex;
  justify-content: space-around;
  width: 400px;
}


.sorter-direction li {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.sorter-direction .sorter-up {
  display: block;
  width: 10px;
  height: 11px;
  padding: 14px 21px 11px 0px;
  margin: 0;

  background: url("../img/icon-up-dir.svg") no-repeat 50% 50%;
  opacity: 0.3;
}

.sorter-direction .sorter-down {
  display: block;
  width: 10px;
  height: 11px;
  padding: 14px 17px 11px 0px;
  margin: 0;

  background: url("../img/icon-down-dir.svg") no-repeat 50% 50%;
  opacity: 0.3;
}

.sorter-direction .sorter-up:hover,
.sorter-direction .sorter-down:hover {
  opacity: 1;
}

.sorter-direction .sorter-up:active {
  background: url("../img/icon-up-dir-active.svg") no-repeat 50% 50%;
}

.sorter-direction .sorter-down:active {
  background: url("../img/icon-down-dir-active.svg") no-repeat 50% 50%;
}

.sorter-param a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  border-bottom: 1px dashed #ee3643;
}

.sorter-param .active {
  color: #ee3643;

  border: none;
}

.sorter-param a:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.store-page .item-box:nth-child(3n) {
  margin-right: 0px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0 60px 0;
  padding: 0;

  list-style: none;
}

.page-number {
  box-sizing: border-box;
  margin-right: 9px;
}

.page-number a {
  display: block;
  padding: 9px 15px;

  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.page-number:last-child a {
  padding: 9px 31px;
}

.current a {
  background-color: #ee3643;

  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.page-number a:hover {
  border: 1px solid #bdc6ca;
}

.page-number a:active {
  border: 1px solid #ee3643;
}

.about-products {
  background-color: #f2f6f8;
}

.about-products h2 {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 25px;

  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-products p {
  line-height: 24px;
  padding: 0;
  padding-bottom:68px;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

/*модальные окна*/
@keyframes modal-open {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-box {
  display: none;
  position: fixed;
  box-sizing: border-box;
  top: 50px;
  z-index: 150;
}

.modal-show {
  display: block;

  animation: modal-open 0.6s;
}

.modal-box.feedback,
.modal-box.item-added {
  width: 620px;
  margin-left: -310px;
  padding-top: 33px;
  left: 50%;

  color: #000000;

  border-top: 7px solid #ff5357;
  background: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-container {
  padding-left: 80px;
  padding-right: 80px;
}

.modal-close {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  right: 9px;

  font-size: 0;

  border: 0;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  top: 9px;
  left: -2px;
  position: absolute;
  width: 26px;
  height: 4px;
  border-radius: 1px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form p {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 7px;
}

.feedback-form p:first-child {
  margin-right: 16px;
}

.feedback-form label {
  display: block;
  padding-bottom: 9px;

  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form input {
  width: 220px;
  margin: 0;
  padding: 8px 14px;
  box-sizing: border-box;

  color: #999999;
  border: 2px solid #d7dcde;
  background-color: #ffffff;
  border-radius: 3px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  border: 2px solid #ee3643;
}

.feedback-form input[name="name"],
.feedback-form input[name="email"] {
  box-sizing: border-box;
  width: 220px;

  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form textarea {
  box-sizing: border-box;
  width: 460px;
  height: 114px;
  margin-bottom: 23px;
  padding: 8px 14px;

  color: #a9a9a9;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}


.button.button-submit {
  border: none;
  width: 460px;
}

.button-container {
  background-color: #f4f4f4;
  padding-top: 36px;
  padding-bottom: 37px;
}

.modal-box.map {
  width: 940px;
  left: 50%;
  margin-left: -470px;

  background-color: #f4f2ec;
}

.map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-box.map .modal-close {
  background-color: transparent;
}

.modal-box.item-added {
  padding-top: 22px;
  background-color: #ffffff;
}

.item-added p {
  padding-left: 100px;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.modal-container.modal-container-heading {
  padding-top: 13px;
  padding-bottom: 38px;
  background: url("../img/icon-mark.svg") no-repeat 81px 25px;
}

.order-button,
.button-close {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 218px;
  margin: 0;
}

.button-close {
  margin-left: 20px;
  background-color: #ffffff;
  color: #000000;
}
